body {
    background-color: rgb(255, 219, 225);
}

.cat {
    height: 535px;
    width: 600px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content-left {
    background-color: pink;
    border: 5px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
}

.content-right {
    background-color: black;
    border: 5px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

h1 {
    color: #9a54f7;
    font-size: 35px;
    font-family: Segoe UI;
    margin-left: 20px;
    text-align: center;
}

h2 {
    color: #9a54f7;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
}

p {
    font-size: 15px;
    margin-left: 10px;
}