.block {
    align-items: center;
    background-color: white;
    border-radius: 20px;
    display: flex;
    height: 200px;
    width: 200px;
}

.block-2 {
    background-color: white;
    border-radius: 20px;
    height: 200px;
    width: 200px;
}

.block-3 {
    background-color: white;
    border-radius: 20px;
    flex-shrink: 0;
    height: 205px;
    margin: 1px;
    min-width: 100px;
    width: 205px;
}

body {
    background-color: rgb(255, 219, 225);
}

.cat {
    height: 535px;
    width: 600px;
}

.cat-2 {
    bottom: 0px;
    height: 100px;
    position: fixed;
    right: 0px;
    width: 100px;
}

.container {
    background-color: rgba(213, 172, 252, 0.695);
    border-radius: 20px;
    display: flex;
    height: 300px;
    justify-content: center;
}

.container-2 {
    align-items: center;
    background-color: rgba(213, 172, 252, 0.695);
    border-radius: 20px;
    display: flex;
    height: 300px;
    justify-content: center;
}

.container-3 {
    background-color: rgba(213, 172, 252, 0.695);
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
}

.container-4 {
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    height: 400px;
    position: relative;
    width: 400px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content-left {
    background-color: pink;
    border: 5px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
}

.content-right {
    background-color: black;
    border: 5px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

h1 {
    color: #9a54f7;
    font-size: 35px;
    font-family: Segoe UI;
    margin-left: 20px;
    text-align: center;
}

h2 {
    color: #9a54f7;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
}

.header {
    font-size: 20px;
    margin: 10px;
    text-align: right;
}

p {
    font-size: 15px;
    margin-left: 10px;
}

.square1 {
    border: 3px solid red;
    height: 100px;
    left: 50px;
    position: absolute;
    top: 50px;
    width: 100px;
}

.square2 {
    border: 3px solid blue;
    bottom: 175px;
    height: 100px;
    left: 125px;
    position: absolute;
    width: 100px;
}

.square3 {
    border: 3px solid green;
    bottom: 100px;
    height: 100px;
    position: absolute;
    right: 100px;
    width: 100px;
}